[submodule "fiftyone.pipeline.devicedetection/datafile"]
	path = fiftyone.pipeline.devicedetection/datafile
	url = https://51degrees.visualstudio.com/DefaultCollection/Pipeline/_git/device-detection-data
